header nav ul{
    list-style: none;
    position: fixed;
    width: 100%;
    height: max-content;
    background: #1f1c21;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #d9c279;
    margin: 0;
    top: 0;
    z-index: 1;
    box-sizing: border-box;
}

header nav li{
    display: inline;
    width: max-content;
    font-size: 30px;
    margin: 0.5em 1em;
}

header nav a:link,a:visited{
    text-decoration: none;
    color: #d9c279;
    padding: 0 1em;
}

header nav .nav:hover{
    border-radius: 10px;
    animation: nav 0.5s forwards;
    color:#1f1c21;
}

nav #current{
    background: #d9c279;
    border-radius: 10px;
    color:#1f1c21;
}

body{
    background-color: #1f1c21;
}

footer table td a img{
    width: 43px;
    margin: 50px;
    border-radius: 10px;
}

a:link,a:visited{
    text-decoration: none;
    color: #d9c279;
}

section{
    display: table;
    width: 100%;
    position: relative;
    top: 3em;
}

#content{
    float: left;
    width: 65%;
    margin-left: 1%;
}

.column{
    column-count: 3;
    column-gap: 2em;
}

#panel{
    float: right;
    width: 30%;
    margin-left: 1%;
}

#header{
    color: #FFFFFF;
    font-family: "Niramit-Regular";
    font-size: 21px;
    font-weight: normal;
    text-transform: uppercase;
    font-style: normal;
    line-height: 1.4em;
    letter-spacing: 1.7px;
}

h2{
    color: #D9C279;
    font-family: "Niramit-Regular";
    font-size: 39px;
    font-weight: normal;
    text-transform: uppercase;
    font-style: normal;
    line-height: 1.4em;
    letter-spacing: 1.7px;
    border-bottom: 1px solid #d9c279;
    padding-bottom: 0.5em;
}

h3{
    color: #D9C279;
    font-family: "Niramit-Regular";
    font-size: 25px;
    font-weight: normal;
    text-transform: uppercase;
    font-style: normal;
    line-height: 1.4em;
    letter-spacing: 1.7px;
    border-bottom: 1px solid #d9c279;
    padding-bottom: 0.5em;
}

p, form{
    color: #FFFFFF;
    font-family: "Niramit-Regular";
    font-size: 17px;
    font-weight: normal;
    font-style: italic;
    line-height: 1.4em;
    letter-spacing: 0.4px;
}

#copyright{
    font-size: small;
    font-style: normal;
}

footer{
    text-align: center;
    position: relative;
    top: 3em;
    border-top: 1px solid #d9c279;
    margin-top: 1em;
}

footer table{
    text-align: center;
    margin: 0 auto;
}

nav table{
    text-align: center;
    margin: 0 auto;
}

#panel{
    text-align: center;
    font-family: "Niramit-Regular";
    font-size: large;
}

#panel a{
    display: block;
    border-bottom: 1px solid #d9c279;
    padding: 5px;
}

#panel img{
    margin-top: 1em;
}

#panel h1{
    color: #d9c279;
    font-size: 30px;
}

form table,td{
    padding-left: 10px;
    padding-right: 10px;

}

td.required{
     color: red;
}

#buttons{
    text-align: center;
}

.zoom:hover{
    animation: images 1s forwards;
}

@keyframes images {
    0%{
        border: 1px solid #d9c279;
        transform: scale(1);
    }
    100%{
        border: 1px solid #d9c279;
        transform: scale(1.2);
    }
}

@keyframes nav {
    0%{
        background: rgba(217, 194, 121, 0);
        color: #d9c279;
    }
    100%{
        background: rgba(217, 194, 121, 1);
        color: #1f1c21;
    }
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    position: relative;
    background-color: #d9c279;
    min-width: max-content;
}

.dropdown-content a{
    color: #1f1c21;
    display: block;
}